/*
    This is the format from the web page
*/
    /* This is to keep the format from the web page becuase it can change depending to the browser */
    * {
        margin: 0;
        border: 0;
        padding: 0;
    }
    /* +--++--++- */

    /* This section generates a defaul fount for all the page for the different browsers */
    body {
        display: block;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    /* +--++--++- */
/*
    -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/


/*
    This section is the main structure from the design
*/
    /* In this part the marging from the device is generated */
    .Ipad {
        background: url(ExamResources/Images/Ipad_Horizontal.png);
        background-position-x: -81px;
        background-position-y: -6px;
        height: 485px;
        width: 690px;
        border-radius: 30px;
        position: fixed;
    }
    /* +--++--++- */

    /* This part is for the background from the aplication */
    .BackG {
        background: radial-gradient(circle, 
            rgba(73,118,139,1) 10%, 
            rgba(28,25,45,1) 100%);
        height: 423px;
        width: 529px;
        margin-top: 31px;
        margin-left: 97px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        position: fixed;
    }
    /* +--++--++- */
/*
    -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/


/*
    This section belongs to the tool bar
*/
    /* This part is to generate the background from the toolbar */
    .Toolbar {
        text-align: center;
        background: #1b1927;
        height: 423px;
        width: 36px;
        margin-top: 31px;
        margin-left: 62px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    /* +--++--++- */
/*
    -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/

/* This section belongs to the top from the device's window */
    /* This article contains almost all the tops from the window */    
    .Top{
        color: #ffffff;
        margin-bottom: 10px;
    }
    /* +--++--++- */

    /* This section displays the top from the system like hour and battery */
    .SystemTop{
        margin: auto;
        display: flex;
        justify-content: center;
        font-size: 45%;
    }

    .Hour{
        position: absolute;
    }

    .Porcentage{
        margin-left: 430px;
        margin-right: -20px
    }

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' -25,
        'opsz' 20
    }

    .Battery{
        position: absolute;
        height: 10px;
        margin-left: 485px;
        margin-top: -6px;
        padding-bottom: 5px;
    }
    /* +--++--++- */

    /* This section displays the top from the aplication like the title and the settings from the app */
    .AppTop{
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .Artist{
        position: absolute;
        margin-top: 3px;
        font-weight: 100;
        font-size: 70%;
    }

    .Settings{
        margin-left: 460px;
        margin-top: -2px;
    }
    /* +--++-++- */

    /* This section contains the styles from the toolbar's top */
    .Toolbar p{
        color: #ffffff;
        font-size: 55%;
    }
    /* +--++--++- */
/*
    -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/

/*
This section belongs to the album article
*/
    .Album{
        color: #ffffff;
        background: linear-gradient(270deg, rgba(128,222,255,0.12) 50%, rgba(255,255,255,0.18) 100%);
        margin-left: 290px;
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        height: 379px;
        width: 210px;
        position: absolute;
    }

    /* This section belong to the top from the album article */
    .AlbumDiv_1 p{
        font-weight: 100;
        font-size: 63%;
    }
    
    .AlbumDiv_2{
        display: flex;
    }

    .Div_2_p_1{
        font-weight: 100;
        display: flex;
        align-items: center;
    }
    .Div_2_p_2{
        margin-left: 55px;
        display: flex;
        align-items: center;
        font-weight: 100;
        font-size: 50%;
    }
    /* +--++--++- */

    /* This section belongs to the picture from the album */
    .Cover{
        width: 150px;
        margin-top: 15px;
        margin-left: 30px;
    }
    /* +--++--++- */

    /* This section belongs to the buttons' section */
    .Buttons_A{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .Buttons_A div{
        position: absolute;
    }

    .GoBack{
        margin-right: 80px;
    }

    .GoNext{
        margin-left: 80px;
    }
    /* +--++--++- */

    /* This section belongs to the sounds list */
    .SoundsList{
        border: solid;
        font-weight: 100;
        font-size: 60%;
        padding-left: 10px;
        display: flex;
        align-items: center;
        height: 40px;
        border-width: 0.01em;
        border-color: #28515d;
        background: rgba(138, 232, 255, 0.3);
    }
    /* +--++--++- */
/*
    -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/

/* 
This section belongs to the Container from Showing and Sounds
*/
    .Container_Showing_Sonds{
        position: absolute;
        width: 275px;
        height: 384px;
    }

    .Showing{
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        width: 275;
        background: rgb(66, 22, 22, 0.3);
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    /* This section belongs to the first part from the showing */
    .Container_IC_IM_IC{
        display: flex;
        align-items: center;
    }

    .image_A{
        width: 60px;
        border-radius: 100%;
    }
    /* +--++--++- */

    /* This section is to align and give format to all the content from the showing section */
    .Align_Showing{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .Share{
        margin-right: 10px;
    }

    .check{
        margin-left: 10px;
    }

    .Showing_L{
        font-weight: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .PlayButton{
        background: #35cdbe;
        font-weight: 100;
        font-size: 60%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        width: 80px;
        height: 20px;
    }

    .AlbumTittle{
        font-weight: 100;
        font-size: 70%;
    }

    .AlbumSubtittle{
        font-size: 50%;
        color: #66636e;
    }

    .Media{
        font-weight: 100;
        font-size: 50%;
        width: 95px;
    }

    .Media div{
        display: flex;
        align-items: center;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.1);
        border: solid;
        border-width: 1px;
        border-color: #28515d;
        padding-left: 3px;
    }

    .Media section{
        display: flex;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.1);
        border: solid;
        border-width: 1px;
        border-color: #28515d;
    }

    .Media img{
        padding-right: 3px;
        width: 23px;
        border-radius: 100%;
    }

    /* +--++--++- */
/*
    -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/

/*
This section belongs to the songs section
*/
    .Sounds{
        color: #ffffff;
        margin-left: 15px;
    }

    .Album_Sugestion{
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        border: solid;
        border-width: 1px;
        border-color: #4d889a;
        height: 28px;
        padding-right: 10px;
    }

    .Img_Songs{
        width: 28px;
        height: 28px;
    }

    .New_Album{
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        border: solid;
        border-width: 1px;
        border-color: #4d889a;
        height: 36px;
        padding-right: 10px;
    }

    .Img_Songs_New{
        width: 36px;
        margin-right: 5px;
    }

    .Text_Sounds_H{
        color: #726e7a;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 100;
        font-size: 50%;
    }

    .Between{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .Text_Sounds {
        font-weight: 100;
        font-size: 50%;
    }

    .Text_Index{
        font-weight: 100;
        margin-left: 5px;
        margin-right: 15px;
        font-size: 50%;
    }
/*
    -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
*/