* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  article {
    width: 236px;
  }
  .top {
    background: url(Images/imagen.jpg);
    height: 348px;
    border-radius: 8px;
  }
  .send {
    width: 20px;
    height: 20px;
    background: url(Images/sprite-pin.fw.png);
    background-position: 0 0;
    margin: 0 auto;
  }
  .favorite {
    width: 20px;
    height: 20px;
    background: url(Images/sprite-pin.fw.png);
    background-position: 45px 0;
    margin: 0 auto;
  }
  .save {
    height: 20px;
    width: 20px;
    background: url(Images/sprite-pin.fw.png);
    background-position: 20px 0;
  }
  .icon {
    padding: 2px;
    border-radius: 2px;
    background-color: #fbf9f8;
    width: 20px;
    margin: 5px 2px 5px 5px;
  }
  .iconSpace{
    padding: 2px;
    display: flex;
    border-radius: 2px;
    background-color: #bd081c;
    width: 60px;
    margin: 5px 2px 5px 5px;
  }
  .space{
    margin-left: 100px;
  }
  .icons {
    display: flex;
  }
  .paragraph{
    color: #ffffff;
  }
  .more{
    margin-top: 290px;
    color: #ffffff;
  }