* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  background: url(Images/bg.jpg);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Top {
  background: url(Images/bg-header.png);
  background-position: 0 200px;
  text-align: center;
  height: 200px;
  font-family: "Times New Roman", Times, serif;
}

.Header {
  text-align: center;
}

.Brs {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #324c4a;
  font-size: 800%;
  text-shadow: 0px 1px 1px #ffffff, 0 1px 1px #eaeaea;
}

span {
  color: #f0d200;
  text-shadow: 0px 1px 1px #ffffff, 0 2px 1px #000;
}

.Top p {
  font-size: 135%;
  color: #ffffff;
}

.italic {
  font-style: italic;
}

.content {
  height: 200px;
  width: 200px;
  margin-top: 20px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

.format {
  margin-right: 40px;
}

.Chrome .Imagex {
  width: 125px;
  height: 130px;
  background: url(Images/browsehappy-sprite.png);
  background-position-x: 0;
  margin: auto;
  margin-bottom: 20px;
}
.MOZILLA .Imagex {
  width: 125px;
  height: 130px;
  background: url(Images/browsehappy-sprite.png);
  background-position-x: 625px;
  margin: auto;
  margin-bottom: 20px;
}
.SAFARI .Imagex {
  width: 125px;
  height: 130px;
  background: url(Images/browsehappy-sprite.png);
  background-position-x: 375px;
  margin: auto;
  margin-bottom: 20px;
}
.Opera .Imagex {
  width: 125px;
  height: 130px;
  background: url(Images/browsehappy-sprite.png);
  background-position-x: 500px;
  margin: auto;
  margin-bottom: 20px;
}
.EDGE .Imagex {
  width: 125px;
  height: 130px;
  background: url(Images/browsehappy-sprite.png);
  background-position-x: 250px;
  margin: auto;
  margin-bottom: 20px;
}

.Button {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.via{
  background:rgba(255, 255, 255, 0.35);
  height: 20px;
  padding-bottom: 5px;
}

.v{
  padding-bottom: 10px;
}

.name h2 {
  color: #ba352f;
  font-size: 100%;
  padding: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.name{
  height: 30px;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 2px;
}

.Finish {
  background: url(Images/bg-footer.png);
  display: flex;
  padding-top: 50px;
  height: 150px;
}

.Finish h2 {
  color: #f0d200;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.Finish .LP {
  font-family: "Times New Roman", Times, serif;
  margin-left: 265px;
  margin-right: 75px;
  width: 650px;
  color: #ffffff;
}

.Finish .SH {
  width: 280px;
}
.smBackground {
  background: url(Images/browsehappy-sprite.png);
  background-position-y: -129px;
  background-position-x: -299px;
  height: 42px;
  width: 112px;
}
