{{>Navbar}}


<article class="space-y-4 bg-slate-900" id="Container">
    <section
        class="flex h-screen content-center items-center justify-center bg-cover bg-no-repeat text-center align-middle"
        style="background-image: url(/images/GraduationTrhowingHat.jpg)">
        <div class="space-y-5 rounded-lg bg-white/90 p-10 shadow-black drop-shadow-lg">
            <h1 class="text-6xl font-black text-gray-900">
                Welcome to GradEvent Website
            </h1>
            <h2 class="text-3xl">
                Are you interested in attending a graduation?
            </h2>
            <br>
            <a href="http://localhost:3000/EventRegistration" class="InteractiveButton text-2xl font-bold"> Check the
                events!!</a>
        </div>
    </section>

    <section class="mx-8 space-y-5 text-white" id="Media_Container">
        <section class="rounded-xl bg-slate-500 px-20 py-10">
            <div class="flex justify-center">
                <h1 class="text-4xl font-black">About GradEvent's story</h1>
            </div>
            <br />
            <br />
            <div class="flex items-center">
                <div class="">
                    <h2 class="indent-5 text-xl">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Deserunt, sunt ipsa qui perspiciatis vitae eos est, nam, cum
                        ducimus quaerat eius laudantium quod non voluptas inventore
                        suscipit maxime amet iusto?
                    </h2>
                    <br />
                    <h2 class="indent-5 text-xl">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed
                        voluptas culpa voluptate, eos praesentium a temporibus quo
                        perferendis totam voluptatibus asperiores maiores ratione
                        pariatur inventore nesciunt eius hic sint magnam?
                    </h2>
                </div>
                <div class="flex justify-center space-x-5">
                    <h2 class="flex content-center items-center align-middle text-4xl">
                        Punctuation:
                    </h2>
                    <ul class="flex w-2/4">
                        <li>
                            <img src="/images/FullStar.png" alt="This is a star mark" />
                        </li>
                        <li>
                            <img src="/images/FullStar.png" alt="This is a star mark" />
                        </li>
                        <li>
                            <img src="/images/FullStar.png" alt="This is a star mark" />
                        </li>
                        <li>
                            <img src="/images/FullStar.png" alt="This is a star mark" />
                        </li>
                        <li>
                            <img src="/images/HalfStar.png" alt="This is a star mark" />
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="rounded-xl bg-cyan-700 px-20 py-10 text-white">
            <div class="flex items-center justify-center">
                <h1 class="text-4xl font-black">
                    Coments from some customers about their experience!!
                </h1>
            </div>
            <br />
            <br />
            <div class="flex items-center justify-center space-x-16">
                <section class="h-96 w-64 rounded-xl bg-slate-400 py-4 px-2 drop-shadow-md">
                    <div class="flex items-center justify-center">
                        <img src="/images/person_1.jpg" alt="This is the user's avatar."
                            class="h-32 w-32 rounded-full" />
                    </div>
                    <br />
                    <div class="flex items-center justify-center">
                        <h2 class="text-xl font-black">Marilyn Monroe:</h2>
                    </div>
                    <br>
                    <div class="flex items-center justify-center">
                        <ul class="flex w-2/4">
                            <li>
                                <img src="/images/FullStar.png" alt="This is a star mark" />
                            </li>
                            <li>
                                <img src="/images/FullStar.png" alt="This is a star mark" />
                            </li>
                            <li>
                                <img src="/images/FullStar.png" alt="This is a star mark" />
                            </li>
                            <li>
                                <img src="/images/FullStar.png" alt="This is a star mark" />
                            </li>
                            <li>
                                <img src="/images/HalfStar.png" alt="This is a star mark" />
                            </li>
                        </ul>
                    </div>
                    <br>
                    <h2 class="text-slate-100">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </h2>
                </section>

                <section class="h-96 w-64 rounded-xl bg-slate-400 py-4 px-2 drop-shadow-md">
                    <div class="flex items-center justify-center">
                        <img src="/images/person_2.jpg" alt="This is the user's avatar."
                            class="h-32 w-32 rounded-full" />
                    </div>
                    <br />
                    <div class="flex items-center justify-center">
                        <h2 class="text-xl font-black">Yocelin Sanchez:</h2>
                    </div>
                    <br>
                    <div class="flex items-center justify-center">
                        <ul class="flex w-2/4">
                            <li>
                                <img src="/images/FullStar.png" alt="This is a star mark" />
                            </li>
                            <li>
                                <img src="/images/FullStar.png" alt="This is a star mark" />
                            </li>
                            <li>
                                <img src="/images/FullStar.png" alt="This is a star mark" />
                            </li>
                            <li>
                                <img src="/images/FullStar.png" alt="This is a star mark" />
                            </li>
                            <li>
                                <img src="/images/HalfStar.png" alt="This is a star mark" />
                            </li>
                        </ul>
                    </div>
                    <br>
                    <h2 class="text-slate-100">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </h2>
                </section>

                <section class="h-96 w-64 rounded-xl bg-slate-400 py-4 px-2 drop-shadow-md">
                    <div class="flex items-center justify-center">
                        <img src="/images/person_3.jpg" alt="This is the user's avatar."
                            class="h-32 w-32 rounded-full" />
                    </div>
                    <br />
                    <div class="flex items-center justify-center">
                        <h2 class="text-xl font-black">Andrea Ramirez:</h2>
                    </div>
                    <br>
                    <div class="flex items-center justify-center">
                        <ul class="flex w-2/4">
                            <li>
                                <img src="/images/FullStar.png" alt="This is a star mark" />
                            </li>
                            <li>
                                <img src="/images/FullStar.png" alt="This is a star mark" />
                            </li>
                            <li>
                                <img src="/images/FullStar.png" alt="This is a star mark" />
                            </li>
                            <li>
                                <img src="/images/FullStar.png" alt="This is a star mark" />
                            </li>
                            <li>
                                <img src="/images/HalfStar.png" alt="This is a star mark" />
                            </li>
                        </ul>
                    </div>
                    <br>
                    <h2 class="text-slate-100">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </h2>
                </section>
            </div>
        </section>
    </section>
</article>