<!DOCTYPE html>
<html>
  <head>
    <title>GradEvent</title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <link rel="stylesheet" href="/stylesheets/partyRoom.css">
  </head>
  <body class="BodyStyle">
    {{{ body }}}
  </body>
</html>
