{{>Navbar}}


<article class="bg-slate-900 divide-y-2 divide-white">
    <section
        class="flex h-screen content-center items-center justify-center bg-cover bg-no-repeat text-center align-middle"
        style="background-image: url(/images/group_4.jpg);">
        <h1 class="font-black text-5xl text-white">Group's Graduation!!</h1>
    </section>
    <section class="py-5">
        <div class="">
            <div class="flex flex-col justify-center items-center space-y-5">
                <div class="bg-no-repeat bg-center h-screen w-screen"
                    style="background-image: url(/images/group_1.jpg);"></div>
                <div class="bg-no-repeat bg-center h-screen w-screen"
                    style="background-image: url(/images/group_3.jpg);"></div>
                <div class="bg-no-repeat bg-center h-screen w-screen"
                    style="background-image: url(/images/group_2.jpg);"></div>
            </div>
        </div>
    </section>

    <section
        class="flex h-screen content-center items-center justify-center bg-cover bg-no-repeat text-center align-middle"
        style="background-image: url(/images/Gallery_img1.jpg);">>
        <h1 class="font-black text-5xl text-white">Event hall's places!!</h1>
    </section>
    <section class="py-5">
        <div>
            <div class="flex flex-col justify-center items-center space-y-5">
                <div class="bg-no-repeat bg-center h-screen w-screen"
                    style="background-image: url(/images/Gallery_img2.jpg);"></div>
                <div class="bg-no-repeat bg-center h-screen w-screen"
                    style="background-image: url(/images/Gallery_img3.jpg);"></div>
                <div class="bg-no-repeat bg-center h-screen w-screen"
                    style="background-image: url(/images/Gallery_img4.jpg);"></div>
            </div>
        </div>
    </section>
</article>