<footer>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis,
    consequuntur quod sequi asperiores dolorem perspiciatis sit dolores, porro
    molestias eum nisi itaque magnam! Harum non labore ratione? Non, modi
    libero!</p>
</footer>