/* The following block of code is called RESET*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
section.top p{
    font-size: 2em;
}
hr{
    border: 1px solid white;
    color: white;
    height: 0;
    margin: 13px 34px;
}
section.bottom div{
    width: 60px;
}
div img{
    width: 100%;
}
section.bottom{
    display: flex;
}
section.bottom p{
    font-size: 1em;
}
article.card{
    width: 230px;
    text-align: center;
    background: aqua;
    color: white;
    padding: 12px 4px;
    box-shadow: 1px 1px 10px rgb(68, 68, 68);
}
main{
    display: flex;
}
main article{
    margin-right: 20px;
    margin-left: 15px;
}
.card2{
    background-color: rgb(71, 71, 197);
    width: 230px;
    text-align: center;
    color: white;
    padding: 12px 4px;
    box-shadow: 1px 1px 10px rgb(68, 68, 68);
}
.card3{
    background-color: blue;
    width: 230px;
    text-align: center;
    color: white;
    padding: 12px 4px;
    box-shadow: 1px 1px 10px rgb(68, 68, 68);
}