* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 5px;
}

button {
  font-size: 20px;
  margin: 10px;
  width: 75px;
  height: 30px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: blue;
  color: #ffffff;
}

.InteractionFields article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  text-align: center;
  width: 250px;
  margin: 20px;
}
.InteractionFields article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: fit-content;
}

.AllowDeny{
  display: flex;
  justify-content: space-between;
}

.InteractionFields {
  display: flex;
}

.Container {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card {
  background: rgb(138, 232, 255);
  background: radial-gradient(
    circle,
    rgba(138, 232, 255, 0.39548319327731096) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 400px;
  display: flex;
  align-items: center;
  margin: 20px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.Card_UserData {
  margin-left: 20px;
}

.Card_Avatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.OtherWindow{
  float: left;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
}

.ValidationWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  width: 500px;
  text-align: center;
}

.ValidationWindow div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ValidationWindow h2 {
  font-weight: 200;
  margin: 5px;
}

.Add_Button {
  font-size: 20px;
  margin: 10px;
  width: 75px;
  height: 30px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: blue;
  color: #ffffff;
}
