* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Game {
  display: flex;
  justify-content: center;
}

.Game_Card {
  width: 163px;
  height: 275px;
  margin: 0.5em;
  cursor: pointer;
}

.Game_Container_Card {
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.Game_Container_Card.Correct{
  transform: rotateY(180deg);
  cursor: default;
}

.Game_Container_Card.Selected {
  transform: rotateY(180deg);
}

.Game_Front_Container_Card,
.Back {
  width: 163px;
  height: 275px;
  backface-visibility: hidden;
  position: absolute;
}

.Game_Front_Container_Card {
  background: url(Images/cardBack.png);
}

.Back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 275px;
  color: #ffffff;
  background-color: purple;
  font-size: 100px;
  border-radius: 5px;
  transform: rotateY(180deg);
}
