* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  background: #ffffff;
}


button{
  font-size: 10px;
  margin: 10px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #25b159;
  color: #ffffff;
}

.Insert{
  display: flex;
  
}

.Format, .FinalWindow, .GameWindow {
  display: none;
  opacity: 0.0;
}

.GameWindow_Able{
  width: 300px;
  display: initial;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Adition{
  display: flex;
  align-items: center;
  margin: 15px;
}

.Name{
  margin-right: 15px;
  color: #000000;
}

.Format_Able{
  display: initial;
  opacity: 1;
}

.StartWindow.DisAble{
  display: none;
  opacity: 0.0;
}

.StartWindow{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
}

.StartWindow input{
  font-size: 20px;
}

.Start_IP{
  display: flex;
  margin: 10px;
}

.ColorSelection{
  margin-right: 20px;
  height: 50px;
  width: 50px;
}

.p1Color{
  background-color: #ffa500;
  transition: 1s;
}

.p2Color{
  background-color: #0000ff;
  transition: 1s;
}

.control{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  border: solid;
  border-radius: 4px;
  height: 45px;
}

.Punctuation{
  color: #000000;
  margin-right: 5px;
}

.Turn_Mark{
  color: #000000;
}




.PlayerTurn{
  font-size: 20px;
}

.Game {
  display: flex;
  justify-content: center;
}

.Game_Card {
  width: 163px;
  height: 275px;
  margin: 5px;
  cursor: pointer;
}

.Game_Container_Card {
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.Game_Container_Card.Correct {
  transform: rotateY(180deg);
  cursor: default;
}

.Game_Container_Card.Selected {
  transform: rotateY(180deg);
}

.Game_Front_Container_Card,
.Back {
  width: 163px;
  height: 275px;
  backface-visibility: hidden;
  position: absolute;
}

.Game_Front_Container_Card {
  background: url(Images/cardBack.png);
}

.Back {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: purple;
  font-size: 100px;
  border-radius: 5px;
  transform: rotateY(180deg);
}

.Back_Correct_P1, .Back_Correct_P2{
  width: 163px;
  height: 275px;
  backface-visibility: hidden;
  position: absolute;
}

.Back_Correct_P1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #ffa500;
  font-size: 100px;
  border-radius: 5px;
  transform: rotateY(180deg);
}

.Back_Correct_P2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 275px;
  color: #ffffff;
  background-color: #0000ff;
  font-size: 100px;
  border-radius: 5px;
  transform: rotateY(180deg);
}




.FinalWindow_Able{
  position: absolute;
  width: 100%;
  height: 100%;
  display: initial;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #ffffff;
  font-size: 30px;
}

.FinalWindow_Able div{
  display: flex;
  margin: 50px;
}

.FinalWindow_Able h2{
  margin-bottom: 50px;
}

.FinalWindow_Able h1{
  margin: 50px;
  color: #ffd500;
}